NODE_ENV=development
POSTGRES_HOST=postgres
POSTGRES_DB=vocabulary
POSTGRES_USER=vocabulary
POSTGRES_PASSWORD=vocabulary
VITE_API_URL=/api
CLIENT_URL=http://frontend:80
API_PORT=3200
FRONTEND_PORT=5100
POSTGRES_PORT=5300
JWT_ACCESS_SECRET=prod-access-secret
JWT_REFRESH_SECRET=prod-refresh-secret
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800
